.register-application {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.ant-form {
    align-items: center;
    justify-content: center;
    width: 70%;
}

.ant-input-number, .ant-input-number-input {
    align-items: center;
    width: 100%;
}

.confirmation-message {
    border: 1px solid rgb(0, 182, 15);
    background-color: rgb(134, 255, 154);
    border-radius: 2%;
    width: 70%;
    height: 30px;
}